FRAS_API_BASE_URL=http://localhost:3000
DEVICE_CODE=PI-CLASSROOM-001
DEVICE_TOKEN=change-this-device-token
CAMERA_INDEX=0
CAMERA_WIDTH=1280
CAMERA_HEIGHT=720
CAMERA_AUTOFOCUS_ENABLED=true
CAMERA_AUTOFOCUS_MODE=continuous
CAMERA_AUTOFOCUS_SPEED=fast
CAMERA_AUTOFOCUS_WARMUP_SECONDS=1.2
SHOW_CAMERA_PREVIEW=true
REQUEST_TIMEOUT=10
CHECKIN_INTERVAL_SECONDS=1
HEARTBEAT_INTERVAL_SECONDS=30
FRAME_LOOP_DELAY_SECONDS=0.05
SUBMIT_COOLDOWN_SECONDS=2
MIN_FACE_SIZE=80
CAPTURE_PORT=8002
